apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argocd-demo-app-harsh
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/Harshwerdhan/K8s-demo-argocd.git
    targetRevision: HEAD
    path: k8s-manifest
  destination:
    server: https://kubernetes.default.svc
    namespace: harsh-ns
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
